<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Godisbutiken</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <div id="mainBox">
      <div id="upperRow">
        <div id="newEggBox" class="blackBorder">
          <button class="blueButton">Nytt ägg</button>
          <button class="whiteButton">Köplistor</button>
        </div>
        <div>
          <h1>Välkommen till Godisbutiken!</h1>
        </div>
      </div>

      <div id="mainRow">
        <div id="candyList">
          <h2>Godissorter</h2>
          <div id="candyFilterBox">
            <button class="whiteButton">
              Filtrera efter
            </button>
            <button class="whiteButton">
              Sök
            </button>
          </div>

          <div id="sortingRow">
            <span>Sortera efter:</span>
            <span class="sorting">namn</span>
            <span class="sorting">pris</span>
          </div>

          <div id="candies">
            <div id="headlines">
              <span>Sort</span>
              <span>Pris</span>
              <span>Antal</span>
              <span>Lager</span>
            </div>

            <% for(let i=0; i < c.length; i++) {%>
            <div class="candyItems">
              <span class="nameBox"><%= c[i].products.name %></span>
              <span><%= c[i].products.price %></span>
              <span
                ><input
                  id="<%=c[i].products.name%>"
                  type="number"
                  min="0"
                  style="width: 100%;"
                />
              </span>
              <span
                ><button
                  onclick="decreaseStock('<%= c[i].products.name%>', document.getElementById('<%=c[i].products.name%>').value, '<%= c[i].producer %>')"
                  class="greenButton"
                >
                  Lägg till
                </button></span
              >
              <span><%= c[i].products.stock %></span>
            </div>

            <% } %>
          </div>

          <div id="resultWindow">
            <span>Totalt pris: </span>
            <span
              ><button onclick="addToEgg()" class="greenButton">
                Skapa ägg
              </button></span
            >
          </div>
        </div>

        <div id="eggWindow">
          <h2>*äggnamn*</h2>
        </div>
      </div>
    </div>

    <script src="../main.js"></script>
  </body>
</html>
