<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Godisbutiken</title>
        <link rel="stylesheet" href="../style.css" />
    </head>
    <body>
        <div id="mainBox">
            <div id="upperRow">
            </div>
            <div>
                <h1>Välkommen till Godisbutiken!</h1>
            </div>
        </div>

<<<<<<< HEAD
      <div id="mainRow">
        <div id="candyList">
          <h2>Äggnamn:</h2>
          <input type="text" id="eggname" placeholder="Skriv äggnamn här..." />
          <div id="sortingRow">
            <span>Sortera efter:</span>
            <span class="sorting"><a href="?sort=candyname">namn</a></span>
            <span class="sorting"><a href="?sort=price">pris</a></span>
            <span class="sorting"><a href="?sort=producer">tillverkare</a></span>
          </div>
          <div id="sortingRow">
            Filtrera:
            <form action="/consumer/<%=e%>" method="GET">
              Vingummi:
              <input type="checkbox" id="Vingummi" name="filter" value="Vingummi" checked>
              Choklad:
              <input type="checkbox" id="Choklad" name="filter" value="Choklad" checked>
              Lakrits:
              <input type="checkbox" id="Lakrits" name="filter" value="Lakrits" checked>
              <button type="submit">filtrera</button>
            </form>
         
          </div>

          <div id="candies">
            <% for(let i=0; i < c.length; i++) {%>
            <div class="candyItems">
              <span class="nameBox"><%= c[i].products.name %></span>
              <span><%= c[i].products.price %></span>
              <span><%= c[i].producer %></span>
              <span
                ><input
                  id="<%=c[i].products.name%>"
                  type="number"
                  min="0"
                  style="width: 100%;"
                />
              </span>
              <span
                ><button
                  onclick="decreaseStock('<%= c[i].products.name%>', document.getElementById('<%=c[i].products.name%>').value, '<%= c[i].producer %>', '<%= c[i].products.price %>')"
                  class="greenButton"
                >
                  Lägg till
                </button></span
              >
              <span><%= c[i].products.stock %></span>
=======
        <div id="mainRow">
            <div id="candyList">
                <div id="candyFilterBox">
                    <button class="whiteButton">
                        Filtrera efter
                    </button>
                    <button class="whiteButton">
                        Sök
                    </button>
                </div>
                <h2>Äggnamn:</h2>
                <input type="text" id="eggname" placeholder="Skriv äggnamn här..." />
                <div id="sortingRow">
                    <span>Sortera efter:</span>
                    <span class="sorting">namn</span>
                    <span class="sorting">pris</span>
                </div>

                <div id="candies">
                    <div id="headlines">
                        <span>Sort</span>
                        <span>Pris</span>
                        <span>Antal</span>
                        <span>Lager</span>
                    </div>

                    <% for(let i=0; i < c.length; i++) {%>
                    <div class="candyItems">
                        <span class="nameBox"><%= c[i].products.name %></span>
                        <span><%= c[i].products.price %></span>
                        <span><input id="<%=c[i].products.name%>" type="number" min="0" style="width: 100%;" />
                        </span>
                        <span><button onclick="decreaseStock('<%= c[i].products.name%>', document.getElementById('<%=c[i].products.name%>').value, '<%= c[i].producer %>', '<%= c[i].products.price %>')" class="greenButton">
                                Lägg till
                            </button></span>
                        <span><%= c[i].products.stock %></span>
                    </div>

                    <% } %>
                </div>
            </div>

            <div id="eggWindow">
                <h2>Ditt ägg: <span id="nameOfEgg"></span></h2>
                <ul id="egglist"></ul>
                <p>Totalt pris: <span id="price"></span></p>
                <button onclick="postEgg('<%=e%>')" class="greenButton">
                    Spara ägg
                </button>
>>>>>>> 33b0e03945fed6008207f4573f034208976babc1
            </div>
            <div id="newEggBox" class="blackBorder">
                <h2>Dina sparade ägg:</h2>
                <% let eggNames = Object.keys(d) %>
                <% if(d[eggNames[0]] != undefined){ %>
                Inloggad som: <%= e %>
                <% } else{ %>
                <p><%= e %> är inte skapad ännu</p>
                <% } %>

                <% for(let i=0; i < eggNames.length; i++) {%>
                <h3><%= eggNames[i] %></h3>
                <% for(let n=0; n < d[eggNames[i]].length; n++) {%>
                <p><%= d[eggNames[i]][n].name %>, <%= d[eggNames[i]][n].amount %>g </p>
                <% } %>
                <% } %>
            </div>
        </div>

        </div>

        <script src="../main.js"></script>
    </body>
</html>
