<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leverantörssidan</title>
    <link rel="stylesheet" href="../style.css">
  </head>
  <body>
    <h1>Välkommen <span id="producername"><%= p.producer %></span> ! Fyll på godis nedan:</h1>

    <form action="/producer/<%= p.producer %>" method="POST">
      <div>
        <label for="name">Namn: </label>
        <input type="text" id="name" name="name" required />
      </div>

      <div>
        <div>Typ:</div>
        Choklad:
        <input type="checkbox" value="Choklad" name="type" />
        Lakrits:
        <input type="checkbox" value="Lakrits" name="type" />

        Vingummi:
        <input type="checkbox" value="Vingummi" name="type" />
      </div>

      <div>
        <label for="price">Pris (öre)/gram: </label>
        <input type="number" id="price" name="price" required />
      </div>

      <div>
        <div>Extra info:</div>
        Gelatin:
        <input type="checkbox" value="Gelatin" name="additional" />
        Nötter:
        <input type="checkbox" value="Nötter" name="additional" />

        Laktos:
        <input type="checkbox" value="Laktos" name="additional" />
      </div>

      <div>
        <label for="stock">Antal i lager: </label>
        <input type="number" id="stock" name="stock" required />
      </div>

      <button type="submit">Lägg till godis</button>
    </form>

    <h2>Här är dina varor:</h2>

    <ul class="p">
      <% for(let i=0; i < p.products.length; i++) {%>
      <li class="p">
        <span><%= p.products[i].name %></span>
        <span>(<%= p.products[i].additional %>)</span>
        <span>(<%= p.products[i].stock %>g i lager)</span>

        <button onclick="deleteProduct('<%= p.products[i].name%>')">Ta bort</button>
          <input type="number" name="<%= p.products[i].name%>" required />
          <button onclick="refillProduct('<%= p.products[i].name%>')">Fyll på</button>
        </button>
      </li>
      <% } %>
    </ul>

    <script src='../main.js'> </script>
  </body>
</html>
